{% assign repo_url = include.repository | split: '/' %}
{% assign data = site.data.github_repos[include.repository] %}

<div class="repo p-2 text-center">
  <h3>
    <a href="https://github.com/{{ include.repository }}">{{ repo_url[1] }}</a>
  </h3>

  <p>{{ data.description }}</p>

  {% if data.topics %}
    <p>
      {% for topic in data.topics %}
        <span class="badge">{{ topic }}</span>
      {% endfor %}
    </p>
  {% endif %}

  {% if data.homepage %}
    <p>
      <i class="fa-link fa-sm"></i>
      <a href="{{ data.homepage }}"><b>{{ data.homepage }}</b></a>
    </p>
  {% endif %}

  <p>
    {% if data.language %}
      <i class="fa-code fa-sm"></i>
      <b>{{ data.language }}</b>
    {% endif %}
    {% if data.stargazers_count %}
      <i class="fa-star-o fa-sm"></i>
      {{ data.stargazers_count }}
    {% endif %}
    {% if data.forks_count %}
      <i class="fa-code-fork fa-sm"></i>
      {{ data.forks_count }}
    {% endif %}
  </p>
</div>

